body {
  
  background-color: #AA00FF;
  
}

.box {
  
  position: absolute;
  
  top: 50%;
  
  left: 50%;
  
  transform: TranslateY(-50%) TranslateX(-50%);
  
  text-align: center;
  
}

.box h1{
  
  font-family: 'Dosis', sans-serif;
  
  font-weight: 800;
  
  font-size: 40px;
  
  color: white;
  
}

.box .nome{
  
  font-family: 'Dosis', sans-serif;
  
  font-size: 20px;
  
  font-weight: 600;
  
  padding: 5px 10px;
  
  animation-name: intro;
  
  animation-duration: 2s;
  
  width: 300px;
  
}

@keyframes intro {
  
  0%{
    
    margin-top: 200px;
    
    opacity: 0;
    
  }
  
  50%{
    
    opacity: 1;
    
  }
  
  100%{
    
    margin-top: 0px;
    
  }
  
}